.title {
    text-align: center;
    font-family:"Velvetica";
    color:white;
}


.game-area canvas {
    border: 1px dashed #ccc;
    margin: 0 auto;
}
.f{
    text-align: center;
    color:white;
}
   